@page "/referrer/registration"

<PageTitle>Referrer Registration</PageTitle>

<h1>Referrer Registration</h1>

<PageCard Title="Referrer Registration">
    <p>Referrer registration placeholder content.</p>
</PageCard>


