@* Left sidebar container (placeholder) *@

<aside class="border-end pe-3">
    <nav class="nav flex-column">
        <a class="nav-link" href="/masters">Masters</a>
        <a class="nav-link" href="/networker">Networker</a>
        <a class="nav-link" href="/referrer">Referrer</a>
    </nav>
</aside>


