@page "/hirer/registration"

<PageTitle>Hirer Registration</PageTitle>

<h1>Hirer Registration</h1>

<PageCard Title="Hirer Registration">
    <p>Hirer registration placeholder content.</p>
</PageCard>


